<!DOCTYPE html>
<html lang="es">
  <%- include('fragmentos/head'); %> 
  <body>



  <!-- Your embedded video player code -->
  <div class="row card mx-auto col-md-8">
<iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fdjyamilpr%2Fvideos%2F2547977968798487%2F&show_text=1&width=560" width="560" height="470" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" allowFullScreen="true"></iframe>

<div class="fb-comments  mx-auto text-center" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="" data-numposts=""></div>


  </div>
</body>

</html>