<!DOCTYPE html>
<html lang="es">
  <%- include('fragmentos/head'); %> 
  <body class="profile-page sidebar-collapse" style="background-color: black">
  <%- include('fragmentos/navbar'); %> 
  <script type="text/javascript" src="../main.js"></script>

  <div class="container">

    <div class="card  col-md-3 mx-auto " >
              <!--  GRAFICO 1 - LINEAS   -->

<div class="text-center mx-auto" >
              <img src="./images/avatarpng.png" alt="Thumbnail Image"style="width: 60%; margin-top: -18%"  class="img-raised rounded-circle img-fluid">
              <h3 class="" style="margin-top: ">Pablo Torres</h4>
              <h6 class="text-primary" style="margin-top: -15px">Desarrollador & diseñador web</a>
                <br>
            </div>

                  <p style="margin-top: -12px" class="mx-auto"> 27 de Marzo, 1997</h5>
                  <p style="margin-top: -12px" class="mx-auto"> thor.devman@gmail.com</h5>
                <form class="row">
                  </form>
     <form class=" text-center row mx-auto col-md-9" style="background-color:000">
    <div  style="margin-left: 0px width:21%"  class="mx-auto">
      <a class="" href="https://www.facebook.com/369Torres" target="_blank">
        <img style="width: 12%; background-color:000" src="./images/icons/facebook.png"></a>
          
        <a class="" href="whatsapp://send?text=https://bit.ly/2UncAvC" target="_blank">
        <img style="width: 12%; background-color:000" src="./images/icons/whatsapp.png"></a>

        <a class="" href="https://www.instagram.com/369Torres" target="_blank" >
        <img style="width: 12%; background-color:000" src="./images/icons/insta.png"></a>

        <a class="" href="https://www.linkedin.com/in/juan-pablo-4014b1188/" target="_blank">
        <img style="width: 12%; background-color:000" src="./images/icons/linkedin.png"></a>

        <a class="" href="whatsapp://send?text=https://bit.ly/2UncAvC" target="_blank">
        <img style="width: 12%; background-color:000" src="./images/icons/youtube.png"></a>
         
      <a class="" href="https://twitter.com/Pablo24175205" target="_blank">
        <img style="width: 12%; background-color:000" src="./images/icons/twiter.png"></a>
      </a>
    </div>

     </form>

    </div>


</div>
<!--  
CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///NEXT///NEXT///NEXT///NEXT///NEXT///NEXT///NEXT
        


     <form class="card text-center row mx-auto col-md-5" style="background-color:000">
          <h4>Compartir en:</h4>
    <div  style="margin-left: 0px width:21%"  class="mx-auto">
      <a class="" href="https://www.facebook.com/sharer/sharer.php?u=https://bit.ly/2UncAvC">
        <img style="width: 12%; background-color:000" src="./images/icons/facebook.png"></a>
          
        <a class="" href="whatsapp://send?text=https://bit.ly/2UncAvC">
        <img style="width: 12%; background-color:000" src="./images/icons/whatsapp.png"></a>
         
      <a class="" href="https://twitter.com/intent/tweet?text=https://bit.ly/2UncAvC">
        <img style="width: 12%; background-color:000" src="./images/icons/twiter.png"></a>
      </a>
    </div>
     </form>


        -->
        <div class="card col-md-6 mx-auto ">
          <h2 class="text-center">Skills</h1>
            <div class="mx-auto col-md-9">

            <div class="">
              <h4><b>Cursando Ingeniería en Sistemas</b></h4>
              <h6 class="text-primary"><b>Universidad Nacional de Loja</b></h5>
              <h6 class="">Desde Septiembre 2017</h6>
              <p class="margin-tb-30">Duis non volutpat arcu, eu mollis tellus. Sed finibus aliquam neque sit amet sodales. 
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus pellentes que velit, 
              quis consequat nulla effi citur at. Maecenas sed massa tristique.Duis non volutpat arcu, 
              eu mollis tellus. Sed finibus aliquam neque sit amet sodales. </p>
            </div><!-- education -->
            <br>
            <div class="">
              <h4><b>Bachillerato General Unificado</b></h4>
              <h6 class="text-primary"><b>Ecuador Amazónico & Adolfo Valarezo</b></h5>
              <h5 class="">Graduado en Julio, 2015 (6 Años)</h6>
              <p class="margin-tb-30">Duis non volutpat arcu, eu mollis tellus. Sed finibus aliquam neque sit amet sodales. 
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus pellentes que velit, 
              quis consequat nulla effi citur at. Maecenas sed massa tristique.Duis non volutpat arcu, 
              eu mollis tellus. Sed finibus aliquam neque sit amet sodales. </p>
            </div><!-- education -->
            <br>
            <div class="">
              <h4><b>Curso de Seguridad Informática</b></h4>
              <h6 class="text-primary"><b>Universidad Nacional de Loja</b></h5>
              <h6 class="">Septiembre 2019</h6>
              <p class="margin-tb-30">Duis non volutpat arcu, eu mollis tellus. Sed finibus aliquam neque sit amet sodales. 
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus pellentes que velit, 
              quis consequat nulla effi citur at. Maecenas sed massa tristique.Duis non volutpat arcu, 
              eu mollis tellus. Sed finibus aliquam neque sit amet sodales. </p>
            </div><!-- education --><br>
            <div class="">
              <h4><b>Diseño Gráfico</b></h4>
              <h6 class="text-primary"><b>(Hace 3 años)</b></h5>
              <p class="margin-tb-30">Duis non volutpat arcu, eu mollis tellus. Sed finibus aliquam neque sit amet sodales. 
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus pellentes que velit, 
              quis consequat nulla effi citur at. Maecenas sed massa tristique.Duis non volutpat arcu, 
              eu mollis tellus. Sed finibus aliquam neque sit amet sodales. </p>
            </div><!-- education -->
            </div>

 <img src="/images/Tow-D.png" class="" style="margin-left: 66.6%; width: 30%; margin-top: 30px">

          </div>


 <!--  
CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///NEXT///NEXT///NEXT///NEXT///NEXT///NEXT///NEXT
        


        -->
 <script type="text/javascript">
    	Morris.Donut({
  element: 'extra3',
  colors: ["#A418FF","#1BD9E5"],
  data: [
    {value: 6000000, label: 'Casos confirmados', formatted: 6000000 },
    {value: 17370000, label: 'Población Total', formatted: '17 370 000 aprox' }
  ],
  formatter: function (x, data) { return data.formatted; }
});

    </script>
  <style>
  #ofBar {
    background: #de2e2e;
    text-align: left;
    z-index: 999999999;
    font-size: 16px;
    color: #fff;
    padding: 18px 5%;
    font-weight: 400;
    display: block;
    position: relative;
    top: 0px;
    box-shadow: 0 6px 13px -4px rgba(0, 0, 0, 0.25);
  }
  #ofBar b {
    font-size: 15px !important;
  }
  #count-down {
    display: initial;
    padding-left: 10px;
    font-weight: bold;
  }
  #close-bar {
    font-size: 22px;
    color: #3e3947;
    margin-right: 0;
    position: absolute;
    right: 5%;
    background: white;
    opacity: 0.5;
    padding: 0px;
    height: 25px;
    line-height: 21px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    top: 18px;
    cursor: pointer;
    z-index: 9999999999;
    font-weight: 200;
  }
  #close-bar:hover{
    opacity: 1;
  }
  #btn-bar {
    background-color: #fff;
    color: #40312d;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    opacity: .95;
    margin-left: 15px;
    top: 0px;
    position: relative;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 5px 10px -3px rgba(0,0,0,.23), 0 6px 10px -5px rgba(0,0,0,.25);
  }
  #btn-bar:hover{
    opacity: 0.9;
  }
  #btn-bar{
    opacity: 1;
  }

  #btn-bar span {
    color: red;
  }
  .right-side{
    float: right;
    margin-right: 60px;
    top: -6px;
    position: relative;
    display: block;
  }

  #oldPriceBar {
    text-decoration: line-through;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    top: 2px;
    position: relative;
  }
  #newPrice{
    color: #fff;
    font-size: 19px;
    font-weight: 700;
    top: 2px;
    position: relative;
    margin-left: 7px;
  }

  #fromText {
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    margin-right: 3px;
    top: 0px;
    position: relative;
  }

  @media(max-width: 991px){
    .right-side{
      float:none;
      margin-right: 0px;
      margin-top: 5px;
      top: 0px
    }
    #ofBar {
      padding: 50px 20px 20px;
      text-align: center;
    }
    #btn-bar{
      display: block;
      margin-top: 10px;
      margin-left: 0;
    }
  }
  @media (max-width: 768px) {
    #count-down {
      display: block;
      font-size: 25px;
    }
  }
</style>
<div id="bodyClick"></div>
</body>
</html>
 <!--  
  
        -->