<!DOCTYPE html>
<html lang="es">
  <%- include('fragmentos/head'); %> 
  <body class="index-page sidebar-collapse" style="background-color: black">
  <%- include('fragmentos/navbar'); %> 

<div class="page-header header-filter clear-filter img-fluid" data-parallax="true" style="background-image: url('./assets/img/bg2.jpg');">
    <div class="container">
      <div class="row">
        <div class=" mx-auto">
          <div class="brand">


            <div class="card img-raised rounded-circle col-md-8 mx-auto text-white " style="background-color: black">
              <!--  GRAFICO 1 - LINEAS   -->

            <div class="text-center mx-auto" >
              <img src="./assets/img/examples/clem-onojegaw.jpg" alt="Thumbnail Image"style="width: 36%; margin-top: "  class="img-raised rounded-circle img-fluid">
              <h3 class="" style="margin-top: ">Pablo Torres</h4>
              <h6 class="text-primary" style="margin-top: ">Desarrollador & diseñador web</a>
                <br>
            </div>

                  <p style="margin-top: " class="mx-auto">Nacido el 27 de Marzo, 1997</h5>
                  <p style="margin-top: " class="mx-auto"> thor.devman@gmail.com</h5>

     <form class=" text-center row mx-auto col-md-9" style="background-color:000">
    <div  style="margin-left: 0px width:21%"  class="mx-auto">
      <a class="" href="https://www.facebook.com/369Torres" target="_blank">
        <img style="width: 12%; background-color:000" src="./images/icons/facebook.png"></a>
          
        <a class="" href="https://api.whatsapp.com/send?phone=5930985773437&text=" target="_blank">
        <img style="width: 12%; background-color:000" src="./images/icons/whatsapp.png"></a>

        <a class="" href="https://www.instagram.com/369Torres" target="_blank" >
        <img style="width: 12%; background-color:000" src="./images/icons/insta.png"></a>

        <a class="" href="https://www.linkedin.com/in/juan-pablo-4014b1188/" target="_blank">
        <img style="width: 12%; background-color:000" src="./images/icons/linkedin.png"></a>

        <a class="" href="whatsapp://send?text=https://bit.ly/2UncAvC" target="_blank">
        <img style="width: 12%; background-color:000" src="./images/icons/youtube.png"></a>
         
      <a class="" href="https://twitter.com/Pablo24175205" target="_blank">
        <img style="width: 12%; background-color:000" src="./images/icons/twiter.png"></a>
      </a>
    </div>

     </form>

             </div>
               





          </div>
        </div>
      </div>
    </div>
  </div>

<!--  
CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///NEXT///NEXT///NEXT///NEXT///NEXT///NEXT///NEXT
        


     <form class="card text-center row mx-auto col-md-5" style="background-color:000">
          <h4>Compartir en:</h4>
    <div  style="margin-left: 0px width:21%"  class="mx-auto">
      <a class="" href="https://www.facebook.com/sharer/sharer.php?u=https://bit.ly/2UncAvC">
        <img style="width: 12%; background-color:000" src="./images/icons/facebook.png"></a>
          
        <a class="" href="whatsapp://send?text=https://bit.ly/2UncAvC">
        <img style="width: 12%; background-color:000" src="./images/icons/whatsapp.png"></a>
         
      <a class="" href="https://twitter.com/intent/tweet?text=https://bit.ly/2UncAvC">
        <img style="width: 12%; background-color:000" src="./images/icons/twiter.png"></a>
      </a>
    </div>
     </form>
        -->
        <div class="card col-md-5 mx-auto ">
          <h3 class="text-center">Skills</h1>
            <div class="mx-auto col-md-9">

            <div class="">
              <h4><b>Cursando Ingeniería en Sistemas</b></h4>
              <h6 class="text-primary"><b>Universidad Nacional de Loja</b></h5>
              <h6 class="">Desde Septiembre 2017</h6>
              <p class="margin-tb-30"></p>
            </div><!-- education -->
            <br>
            <div class="">
              <h4><b>Taller de Seguridad Informática</b></h4>
              <h6 class="text-primary"><b>Universidad Nacional de Loja</b></h5>
              <h6 class="">En Febrero del 2020</h6>
              <p class="margin-tb-30"></p>
            </div><!-- education --><br>
            <div class="">
              <h4><b>Diseño Gráfico</b></h4>
              <h6 class="text-primary"><b>Online Self Education</b></h5>
              <h6 class="">Desde 2013</h6>
              <p class="margin-tb-30"></p>
            </div><!-- education -->
            <br>
            <div class="">
              <h4><b>Bachillerato General Unificado</b></h4>
              <h6 class="text-primary"><b>Ecuador Amazónico & Adolfo Valarezo</b></h5>
              <h6 class="">Graduado en Julio, 2015 </h6>
              <p class="margin-tb-30"></p>
            </div><!-- education -->
            </div>

 <img src="/images/Tow-D.png" class="" style="margin-left: 66.6%; width: 30%; margin-top: 30px">
</div>

 <!--  
CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///NEXT///NEXT///NEXT///NEXT///NEXT///NEXT///NEXT
        


        -->
  <script src="./assets/js/material-kit.js?v=2.0.7" type="text/javascript"></script>
  <script src="./assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
  <script src="./assets/js/plugins/moment.min.js"></script>


  <script type="text/javascript" src="../main.js"></script>

</body>
</html>
 <!--  
  
        -->