<!DOCTYPE html>
<html lang="es">
  <%- include('fragmentos/head'); %> 
  <body class="sidebar-collapse" style="background-color: black">
  <%- include('fragmentos/navbar'); %> 





<div class="page-header header-filter clear-filter img-fluid text-center" data-parallax="true" style="background-image: url('./images/bg2.jpg');">
    <div class="container">


         <div class="bg-transparent  col-md-9 mx-auto text-dark " style="background-color: ">
              <!--  GRAFICO 1 - LINEAS   -->

            <div class="text-center text-white text-shadow" >
              <img src="/images/tow-w.png"style="width: ; margin-top: "  class=" img-fluid">
              <h3 class="" style="margin-top: ">Virtual Community</h3>
              <h6 class="text-primary" style="margin-top: ">By Pablo Torres</h6>
              <p style="margin-top: " class="mx-auto"> thor.devman@gmail.com</p>

            </div>

     <form class=" text-center  row mx-auto col-md-9" style="background-color:000">
    <div  style="margin-left: 0px width:9%"  class="mx-auto ">
        <a class="" href="https://www.facebook.com/369Torres" target="_blank">
        <img style="width: 9%; background-color:000" src="./images/icons/facebook.png"></a>
          
        <a class="" href="https://api.whatsapp.com/send?phone=5930985773437&text=" target="_blank">
        <img style="width: 9%; background-color:000" src="./images/icons/whatsapp.png"></a>

        <a class="" href="https://www.instagram.com/369Torres" target="_blank" >
        <img style="width: 9%; background-color:000" src="./images/icons/insta.png"></a>

        <a class="" href="https://www.linkedin.com/in/juan-pablo-4014b1188/" target="_blank">
        <img style="width: 9%; background-color:000" src="./images/icons/linkedin.png"></a>

        <a class="" href="https://twitter.com/Pablo24175205" target="_blank">
        <img style="width: 9%; background-color:000" src="./images/icons/twiter.png"></a>
    </div>

     </form>

             </div>
    </div>
  </div>

<!--  
CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///NEXT///NEXT///NEXT///NEXT///NEXT///NEXT///NEXT
        

        <a class="" href="whatsapp://send?text=https://bit.ly/2UncAvC" target="_blank">
        <img style="width: 12%; background-color:000" src="./images/icons/youtube.png"></a>




     <form class="card text-center bg-transparent row mx-auto col-md-5" style="background-color:000">
          <h4>Compartir en:</h4>
    <div  style="margin-left: 0px width:21%"  class="mx-auto">
      <a class="" href="https://www.facebook.com/sharer/sharer.php?u=https://bit.ly/2UncAvC">
        <img style="width: 12%; background-color:000" src="./images/icons/facebook.png"></a>
          
        <a class="" href="whatsapp://send?text=https://bit.ly/2UncAvC">
        <img style="width: 12%; background-color:000" src="./images/icons/whatsapp.png"></a>
         
      <a class="" href="https://twitter.com/intent/tweet?text=https://bit.ly/2UncAvC">
        <img style="width: 12%; background-color:000" src="./images/icons/twiter.png"></a>
      </a>
    </div>
     </form>
        -->
<div class="text-center mx-auto col-md-9">
  
<div style="height: 50%" class="form mx-auto text-center row  bg-transparent" >

  
<div class="example-1 text-center mx-auto card col-md-4">
<div class="wrapper" style="background-image: url('https://deya1228.files.wordpress.com/2011/07/el-pangui.png');">
<div class="date">
<span class="day">1</span>
<span class="month">May</span>
<span class="year">2020</span>
</div>
<div class="data">
<div class="content">
<span class="author">Pablo Torres</span>
<h2 class="title"><a href="#">Los cambios en el terreno de ECSA después de 5 años</a></h2>
<p class="text">Aqui podemos apreciar los cambios en Tundayme - El Pangui en propiedad de ECSA. Las tomas contrastan entre un lapso de tiempo de 6 años</p>
<label for="show-menu" class="menu-button"><span></span></label>
</div>
<input type="checkbox" id="show-menu" />
<ul class="menu-content">
<li>
<a href="#" class="fa fa-bookmark-o"></a>
</li>
<li><a href="#" class="fa fa-heart-o"><span>47</span></a></li>
<li><a href="#" class="fa fa-comment-o"><span>8</span></a></li>
</ul>
</div>
</div>
</div>
</div>



<div class="example-2 text-center mx-auto card col-md-4">

<div class="wrapper img-fluid bg-dark" style="background-color: black; height: 50%; background-image: url('/images/bg2.jpg')">
<div class="header">
<div class="date">
<span class="day">23</span>
<span class="month">Apr</span>
<span class="year">2020</span>
</div>
<ul class="menu-content">
<li>
<a href="#" class="fa fa-bookmark-o"></a>
</li>
<li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
<li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
</ul>
</div>
<div class="data">
<div class="content">
<span class="author">Pablo Torres</span>
<h2 class="title"><a href="#">El Pangui Orquidea de la Amazonía Ecuatoriana</a></h1>
<p class="text">Estos artículos se encuentran en construcción..</p>
<a href="#" class="button">Read more</a>
</div>
</div>
</div>
</div>


</div>



 <!--  
CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///NEXT///NEXT///NEXT///NEXT///NEXT///NEXT///NEXT
        


        -->



  <script type="text/javascript" src="../main.js"></script>








<style src="/tarjetas"  ></style>

<script src="./assets/js/plugins/moment.min.js"></script>









</body>

</html>
 <!--  
  
        -->