<!DOCTYPE html>
<html lang="es">
  <%- include('fragmentos/head'); %> 
  <body class="sidebar-collapse" style="background-color: black">
  <%- include('fragmentos/navbar'); %> 

 <div style="background-image: url('./images/bg2.jpg');" class="card col-md-6 mx-auto">

<div class="text-center text-white"><h3 class="text-center text-white">Login</h3>
 	<h5>Aún no tienes una cuenta? <a href="/signup" class="h5 text-primary">Registrate</a>
 	</div>
 	<br>
  <form action="/signin"  class="col-md-10 mx-auto card text-center" method="POST">
  	Correo Electrónico<br><input class="form-control col-md-10 mx-auto text-center" type="email" name="email" placeholder="Igresar Email"><br>
  	Contraseña<br><input  class="form-control col-md-10 mx-auto text-center" type="password" name="password" placeholder="Igresa tu contraseña"><br>  
  <button type="submit" class="col-md-10 mx-auto btn btn-success">Ingresar</button></form>
  <br>

 </div>
<script src="./assets/js/material-kit.js?v=2.0.7" type="text/javascript"></script>
<script>
  window.console = window.console || function(t) {};
</script>
<script>
  if (document.location.search.match(/type=embed/gi)) {
    window.parent.postMessage("resize", "*");
  }
</script>
</body>
</html>