<!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-transparent fixed-top" style="opacity: 5%, margin-top:0px; background-color: black" color-on-scroll="300">
    <div class="container ">
      <div class="">
        <a class="navbar-brand-sm" href="" rel="tooltip" title="TOWER ARTS" data-placement="bottom" target="">
          
 <img src="/images/Tow-W.png" style="width: 33%">
          <span class="copyright text-dark"><i class="fa fa-heart heart" style="opacity: 0.21"></i></span> </a>

        <button class="text dark navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class=" collapse navbar-collapse navbar-dark justify-content-end " id="navigation">

        <ul class="navbar-nav nav-sm">
          <li class="nav-item">
            
          </li>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
